.Halaman-utama{
    background-color: aliceblue;
    font-family: Arial;
    text-align: left;
    position: relative;
}

.Animasi{
    animation-name: gerakan-bawah;
    animation-duration: 2s;
}

@keyframes gerakan-bawah{
    0%{
        transform: translateX(0px);
        opacity: 0;
    }

    100%{
        transform: translateY(7px);
        opacity: 1;
    }
}

.Judul-nama{
    text-align: bottom;
    color: rgb(94, 168, 253);
    font-size: 400%;
    position: fixed;
}

.progress-container{
    width: 100%;
    height: 3px;
    background-color: aliceblue;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    bottom: -0.1px;
}

.progress-bar{
    width: 0;
    height: 100%;
    background-color: rgb(94, 168, 253);
    border-radius: 7px;
    position: absolute;
    animation: loading 2s alternate;
}

@keyframes loading{
    0%{width: 0;}
    50%{width: 100%;}
}

.Title-heading3{
    font-size: 199%;
    text-align: center;
    color: rgb(94, 168, 253);
    position:block;
}

.Title-heading2{
    color: rgb(94, 168, 253);
    height: 50px;
    position: relative;
    bottom: -50px;
    text-align: center;
    font-size: 45px;
}

.Text-title{
    color: rgb(94, 168, 253);
}

.Sosial-Media{
    position: relative;
    margin-left: 75vh;
    height: 20px;
}

/* ===== Untuk Gambar Profile ===== */
.container-gambar{
    display: flex;
    justify-content:safe;
    border-radius: 10%;
    border: 4px;
    align-items: center;
}

.gambar{
    border-radius: 10%;
}
/* ===== Untuk Gambar Profile ===== */



/* ===== Untuk Navabar Website ===== */
.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(94, 168, 253);
    padding: 10px, 20px;
    border-radius: 10px;
    height: 47px;
}

.Logo img{
height: 49px;
width: auto;
}

.Nav-link{
    list-style: none;
    display: flex;
}

.Nav-link li{
    margin-left: 20px;
}

.Nav-link a{
    text-decoration: none;
    font-size: 19px;
    transition: color 0.3;
    font-family: Arial;
    color: aliceblue;
    position: relative;
    margin-left: 10px;
    left: -623px;
}  
/* ===== Untuk Navbar Website ===== */